h1 {
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  color: #ff5d5d;
  font-size: 16px;
}

/* I Want to align the form but do not want labels to be centered */

/* form {
  text-align: center;
} */

div#input-container {
  display: flex;
  justify-content: center;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0 12px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

label {
  display: block;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: lightgray;
}

button {
  position: absolute;
  right: 32%;
  border-radius: 30px;
  border: none;
  padding: 15px 30px;
  background-color: #ff5d5d;
  color: #ffff;
  display: block;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 100;
}
