div.characters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
}

span.first-letter {
  text-decoration: underline;
}

.next-letter {
  text-decoration: underline;
}

.active {
  text-decoration: none;
}
