* {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

h1,
h3 {
  font-family: "Karla", Arial, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 50px;
}

p {
  font-family: "Karla", Arial, sans-serif;
  font-weight: 400;
  line-height: 32px;
}

.row {
  display: flex;
  text-align: center;
}

.column-header {
  width: 45%;
}

.column-one-half {
  width: 50%;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}

img {
  position: relative;
  bottom: 60px;
}

#learnMoreButton {
  text-align: center;
}

button {
  background-color: transparent;
  border: 2px solid #de1d1d;
  color: #de1d1d;
  height: 40px;
  width: 175px;
  font-family: "Karla", Arial, sans-serif;
  font-weight: 700;
}
